.block-row {
    min-height: 50px !important;
}

.block-list-container {
    border: 1px solid theme-color("bi-charcoal");
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(171,171,171,.25);
}

.block-col-content {
    min-width: 200px !important;
}